<ng-container>
    <nav
        (mouseenter)="hoverEvent('enter')"
        (mouseleave)="hoverEvent('leave')"
        [ngClass]="{ 'close': !navOpen(), 'hover': isHover() }"
    >
        <div class="nav-header">
            <div class="nav-header-logo">
                <common-icon [icon]="'logo'" [customSize]="1.875"></common-icon>
                @if (navOpen() || isHover()) {
                    <span>Serengeti</span>
                }
            </div>
            <div class="nav-toggle-button" [ngClass]="{ 'nav-close': !(navOpen() || isHover()) }" (click)="navOpenEvent()">
                @if (navOpen()) {
                    <common-icon [icon]="'chevrons_left'"></common-icon>
                } @else {
                    <common-icon [icon]="'chevrons_right'"></common-icon>
                }
            </div>
        </div>
        <lib-serengeti-cicd-mock-menu></lib-serengeti-cicd-mock-menu>
    </nav>
    <main [ngClass]="{ 'close': !navOpen(), 'hover': isHover() }">
        <lib-serengeti-cicd-mock-header></lib-serengeti-cicd-mock-header>
        <section>
            <router-outlet></router-outlet>
        </section>
    </main>
</ng-container>
